<div class="providers">
    <form class="provider-form">
        <h1>Add a new Provider</h1>
        <div class="provider-field">
            <mat-form-field>
                <mat-label>Provider Name</mat-label>
                <input matInput placeholder="Avianca">
            </mat-form-field>
        </div>
        <div class="provider-field">
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput placeholder="avianca@gmail.com">
                <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
        </div>
        <div class="provider-field">
            <mat-form-field>
                <mat-label>Address</mat-label>
                <input matInput placeholder="Cra 5 #20-55">
            </mat-form-field>
        </div>
        <div class="provider-field">
            <mat-form-field>
                <mat-label>Address 2</mat-label>
                <input matInput placeholder="Edif. Uno Oficina 701">
            </mat-form-field>
        </div>
        <div class="provider-field">
            <mat-form-field>
                <mat-label>Telephone</mat-label>
                <span matPrefix>+57 &nbsp;</span>
                <input type="tel" matInput placeholder="(8)-515-1787">
                <mat-icon matSuffix>phone</mat-icon>
            </mat-form-field>
        </div>
    </form>
</div>