/* You can add global styles to this file, and also import other style files */
div { box-sizing: border-box; }
a, u {
  text-decoration: none !important;
  text-emphasis: none !important;
  text-transform: none !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
:root {
    --navbarh: 60px;
  }