<div class="add-subsidiary">
    <mat-accordion class="accordion" >
        <mat-expansion-panel [expanded]="isFormOpen" (opened)="isFormOpen = true"
                            (closed)="isFormOpen = false">
            <mat-expansion-panel-header>
            <mat-panel-title>
                <h1>Agregar una Sucursal</h1>
            </mat-panel-title>
            </mat-expansion-panel-header>
            <form class="subsidiary-form"(submit)="saveSubsidiary()">
                <div class="subsidiary-field">
                    <mat-form-field>
                        <mat-label>Nombre</mat-label>
                        <input [formControl]="nameFormControl" matInput [(ngModel)]="subsidiary.name" name="subsidiary-name" required type="text" placeholder="Avianca Ibague">
                          <mat-error *ngIf="nameFormControl.hasError('required')">
                            Nombre es <strong>requerido</strong>
                          </mat-error>
                    </mat-form-field>
                </div>
                <div class="subsidiary-field">
                    <mat-form-field>
                        <mat-label>Correo</mat-label>
                        <input matInput [formControl]="emailFormControl" [(ngModel)]="subsidiary.email" name="subsidiary-mail" required placeholder="avianca@gmail.com">
                        <mat-icon matSuffix>email</mat-icon>
                        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                            Por favor ingrese una dirección de correo válida
                          </mat-error>
                          <mat-error *ngIf="emailFormControl.hasError('required')">
                           El Correo es <strong>requerido</strong>
                          </mat-error>
                    </mat-form-field>
                </div>
                <div class="subsidiary-field">
                    <mat-form-field>
                        <mat-label>Dirección</mat-label>
                        <input matInput [formControl]="addressFormControl" [(ngModel)]="subsidiary.direction" name="subsidiary-address" required placeholder="Cra 5 #20-55">
                        <mat-error *ngIf="addressFormControl.hasError('required')">
                            La Dirección es <strong>requerida</strong>
                          </mat-error>
                    </mat-form-field>
                </div>
                <div class="subsidiary-field">
                    <mat-form-field>
                      <mat-label>NIT</mat-label>
                      <input type="number" matInput [(ngModel)]="subsidiary.nic" name="subsidiary-address2" placeholder="1234">
                  </mat-form-field>
                </div>
                <div class="subsidiary-field">
                  <mat-form-field>
                        <mat-label>Telefóno</mat-label>
                        <span matPrefix>+57 &nbsp;</span>
                        <input type="number" [formControl]="phoneFormControl" [(ngModel)]="subsidiary.phone" name="subsidiary-phone" required matInput placeholder="(8)-515-1787">
                        <mat-icon matSuffix>phone</mat-icon>
                        <mat-error *ngIf="phoneFormControl.hasError('required')">
                            El Teléfono es <strong>requerido</strong>
                          </mat-error>
                    </mat-form-field>
                </div>
                <div class="subsidiary-field">
                    <mat-form-field>
                        <mat-label>Departamento</mat-label>
                        <input type="text" [formControl]="stateFormControl" [(ngModel)]="subsidiary.city.departament.name" name="subsidiary-state" required matInput placeholder="Tolima">
                        <mat-error *ngIf="phoneFormControl.hasError('required')">
                            El Departamento es <strong>requerido</strong>
                          </mat-error>
                    </mat-form-field>
                </div>
                <div class="subsidiary-field">
                    <mat-form-field>
                        <mat-label>Ciudad</mat-label>
                        <input type="text" [formControl]="cityFormControl" [(ngModel)]="subsidiary.city.name" name="subsidiary-city" required matInput placeholder="Ibague">
                        <mat-error *ngIf="phoneFormControl.hasError('required')">
                            La Ciudad es <strong>requerida</strong>
                          </mat-error>
                    </mat-form-field>
                </div>
                <div class="buttons">
                    <button  type="submit" class="save-subsidiary" mat-raised-button color="basic">Guardar</button>
                    <button  (click)="actualNic=subsidiary.nic" class="add-products" mat-raised-button color="primary">Agregar Productos</button>
                </div>
        </form>
        </mat-expansion-panel>
        <mat-expansion-panel *ngFor="let sub of subsidiaryDetails; index as i"  (opened)="getProd(sub.nic)"
                            (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
            <mat-panel-title>
                <h2>{{sub.name}}</h2>
            </mat-panel-title>
            </mat-expansion-panel-header>
            <div>Email: {{sub.email}}</div>
            <div>Dirección 1: {{sub.direction}}</div>
            <div>Teléfono: {{sub.phone}}</div>
            <div>Departamento: {{sub.city.departament.name}}</div>
            <div>Ciudad: {{sub.city.name}}</div>
            <div>NIT: {{sub.nic}}</div>
            <div class="details-buttons">
                <button (click)="editSubsidiary(sub.nic)" class="edit-button"mat-raised-button color="primary">Editar</button>
                <button (click)="openDialog(sub.nic)" class="delete-button" mat-mini-fab color="warn" >
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
    <div class="product-list">
        <div class="mat-elevation-z8">
          <table class="table" mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
              <td mat-cell *matCellDef="let row"> {{row.id}} </td>
            </ng-container>
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre del Producto </th>
              <td mat-cell *matCellDef="let row"> {{row.name}} </td>
            </ng-container>
            <ng-container matColumnDef="value">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio </th>
              <td mat-cell *matCellDef="let row"> {{row.value}} </td>
            </ng-container>
            <ng-container matColumnDef="unitMeasure">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Unidades </th>
              <td mat-cell *matCellDef="let row"> <div>{{row.unitMeasure}} </div></td>
            </ng-container>
            <ng-container matColumnDef="presentation">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Presentacion </th>
              <td mat-cell *matCellDef="let row"> {{row.product.presentation}} </td>
            </ng-container>
            <ng-container matColumnDef="quantity">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad </th>
              <td mat-cell *matCellDef="let row"> {{row.product.quantity}} </td>
            </ng-container>
            <ng-container matColumnDef="duration">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Duracion </th>
              <td mat-cell *matCellDef="let row"> {{row.service.duration}} </td>
            </ng-container>
            <ng-container matColumnDef="plan">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Plan </th>
              <td mat-cell *matCellDef="let row"> {{row.service.plan}} </td>
            </ng-container>
            <ng-container matColumnDef="branchOfficeCompan.name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Sucursal </th>
              <td class="sucursal" mat-cell *matCellDef="let row"> {{row.branchOfficeCompan.name}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
          </table>
          <div class="product-form">
            <h2>Agregar Producto</h2>
            <table class="product-form" cellspacing="0">
              <tr class="prod-rod">
                <td><mat-form-field class="form-two">
                  <mat-label>ID</mat-label>
                  <input matInput [(ngModel)]="productData.id" name="productData-id">
                </mat-form-field></td>
                <td><mat-form-field class="formt-two">
                  <mat-label>Nombre del Producto</mat-label>
                  <input matInput [(ngModel)]="productData.name" name="productData-name">
                </mat-form-field></td>
                <td><mat-form-field class="formt-two">
                    <mat-label>Precio</mat-label>
                    <input matInput [(ngModel)]="productData.value" name="productData-value">
                </mat-form-field></td>
              </tr>
                  <tr class="prod-rod">
                    <td><mat-form-field class="formt-two">
                        <mat-label>Unidades</mat-label>
                        <input matInput [(ngModel)]="productData.unitMeasure" name="productData-unitMeasure">
                    </mat-form-field></td>
                    <td><mat-form-field class="formt-two">
                        <mat-label>Presentacion</mat-label>
                        <input matInput [(ngModel)]="productData.product.presentation" name="productData-product-presentation">
                    </mat-form-field></td>
                    <td><mat-form-field class="formt-two">
                        <mat-label>Cantidad</mat-label>
                        <input matInput [(ngModel)]="productData.product.quantity" name="productData-product-quantity">
                    </mat-form-field></td>
                  </tr>
                  <tr class="prod-rod">
                    <td><mat-form-field class="formt-two">
                        <mat-label>Duracion</mat-label>
                        <input matInput [(ngModel)]="productData.service.duration" name="productData-service-duration">
                    </mat-form-field></td>
                    <td><mat-form-field class="formt-two">
                        <mat-label>Plan</mat-label>
                        <input matInput [(ngModel)]="productData.service.plan" name="productData-service-plan">
                    </mat-form-field></td>
                    <td class="add-prod-button">
                      <button (click)="addProd()" mat-raised-button color="primary">Agregar</button>
                    </td>
                  </tr>
              </table>            
        </div>
          <div class="table-footer">
            <mat-form-field class="filter">
              <mat-label>Filtrar</mat-label>
              <input  matInput (keyup)="applyFilter($event)" placeholder="Buscar proveedor">
            </mat-form-field>
            <mat-paginator class="pages" [pageSizeOptions]="[5, 10, 25, 50, 100]"></mat-paginator>
          </div>
        </div>
    </div>
</div>    