.accordion{
    margin-top: 10px;}
.add-subsidiary{
    display: grid;
    grid-template-columns: 30% 70% ;
    margin-top: 10pxt;
}
.subsidiary-form{
    background-color: rgb(236, 236, 235);
    padding: 10px 20px 10px 25px;
    height: 100%;
}
h1{
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 20pt;
    text-align: center;
}
.subsidiary-field{
    font-size: 12pt;
    margin: 0px auto;
    width: 55%;
}
.mat-form-field{
    width: 100%;
}
.buttons{
    display: grid;
    grid-template-columns: 50% 50% ;
    margin-top: 10px;
}
.save-subsidiary{
    margin-right: 10px;
    align-self: flex-start;
    width: 100%;
}
.add-products{
    margin-left: 10px;
    align-self: flex-end;
    width: 100%;
}
.details-buttons{
    display: grid;
    grid-template-columns: 50% 50% ;
    margin-top: 10px;
    width: 100%;
}
.edit-button{
    margin-top: 10px;
    align-self: flex-start;
    width: 10%;
}
.delete-button{
    margin-top: 10px;
    margin-left: 130px;
}
.product-list{
    padding: 20px;;
    align-items: center;
}
.table{
    width: 100%;
}
.product-form{
    padding: 20px;
}
.prod-rod{
    width: 600px;
}
.add-prod-button{
    display: flex;
    width: max-content;
    align-items: flex-end;
    justify-content: center;
    margin-left: 50px;
}
th {
    background-color: #673ab7;
    color: white;
}
td{
    text-align: center;
}
td.mat-cell{
    text-align: center;
  }
.pages{
    width: 80%;
}
.filter{
    width: 20%;
    padding-left: 45px;
}
.table-footer{
    display: flex;
}