.providers-list {
  padding: 20px;;
}
table {
  width: 100%;
  border: 1px solid blueviolet;

}
mat-form-field {
  padding: 0 15px;
}
th {
  background-color: #673ab7;
  color: white;
  font-size: 20px;
  font-weight: 500;
}
td, th {
  padding: 0 10px !important;
}
.nit {
  display: grid;
  grid-template-columns: 70% 30%;
  align-items: center;
}
.buttons {
  display: grid;
  grid-template-columns: 50% 50%;
}
.delete-button{
  margin: 10px;
}
.add-button{
  margin: 10px;
}
.table-footer {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}
.pages {
  width: 80%;
}

