.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: grid;
  grid-template-columns: 20% 50% 25% 5%;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  padding: 0 20px;
}
.hide{
  opacity: 0%;
}
.title {
  font-size: 24px;
  justify-content: start;
  cursor: pointer;
}
.search-box {
  justify-self: center;
  background-color: #fff;
  border-radius: 1rem;
  width: 100%;
  height: 35px;
  cursor: pointer;
}
.providers-list {
  justify-self: flex-end;
  cursor: pointer;
}
.cart-icon {
  justify-self: flex-end;
  cursor: pointer;
}
.active-item {
 border-bottom: solid #fff 1px;
}
